aside {
	background-color: rgb(140, 157, 193);
	height: 100%;
	width: 80px;
	position: fixed;
	padding: 5px;
}

aside a {
	color: #2d391b;
	text-decoration: none;
}

aside a:hover {
	color: #cfff7b;
}